html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

body {
  background-color: #002b36;
  color: #839496;
}

h1, h2, h3, h4, h5, h6 {
  color: #93a1a1;
  border-color: #839496;
  margin: 0;
}

body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 20px auto;
  max-width: 850px;
  line-height: 1.4;
  font-size: 18px;
  padding: 0;
}

a {
  color: #268bd2;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #3797db
}

.block {
  margin-bottom: 10px;
}

.block-header {
  padding: 10px 20px 5px 20px;
  background-color: #073642;
}

.block-header .h2, .block-header .h3, .block-header .h4 {
  margin: 0 0 5px 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.repository-header h1, .repository-header h4 {
  margin: 5px 20px;
}

.rest {
  flex-grow: 1;
}

.block-details {
  padding: 10px 20px;
  border: 0px solid #073642;
  border-bottom-width: 1px;
}

@media (min-width: 850px) {
  .block-details {
    border-width: 1px;
  }
}

.email, .user {
  color: #d33682;
}

.email:before {
  content: "<";
}

.email:after {
  content: ">";
}

.agent {
  color: #6c71c4;
}

.ref {
  color: #2aa198;
}

.id {
  color: #cb4b16;
}

.ref, .id {
  font-family: monospace;
  padding: 2px 4px;
  background-color: #073642;
}

.block-header .ref, .block-header .id {
  background-color: #002b36;
}

.timestamp {
  color: #b58900;
}

.filename {
  color: #6c71c4;
  font-family: monospace;
}

.ci-status a {
  color: #839496;
}

pre {
  padding: 5px 10px;
  overflow: auto;
  font-size: 0.8rem;
}

pre, pre code {
  color: #657b83;
  background-color: #fdf6e3;
}

code {
  padding: 0 1px;
  color: #93a1a1;
  background-color: #073642;
}

.status {
  padding: 2px 4px;
  background-color: #002b36;
}

.status.success {
  color: #859900;
}

.status.failure {
  color: #dc322f;
}

.status.running {
  color: #268bd2;
}

.review-stub {
  margin: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.avatar {
  height: 30px;
  width: 30px;
  margin: 0px 10px 0px 0px;
  flex-shrink: 0;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

blockquote {
  border-left: 1px dotted #839496;
  padding-left: 1rem;
}

.repository-header {
  background-color: #073642;
  margin-bottom: 10px;
}

.tabs {
  display: flex;
  flex-direction: row;
  background-color: #002b36;
}

.tabs > * {
  display: flex;
  border-top: 1px solid #073642;
  border-bottom: 2px solid #073642;
  border-right: 1px solid #073642;
  flex-grow: 1;
  justify-content: center;
}

.tabs > :first-child {
  border-left: 2px solid #073642;
}

.tabs > :last-child {
  border-right: 2px solid #073642;
}

.tabs .selected {
  background-color: #073642;
}

.content {
  padding: 0 10px;
}

.path {
  font-family: monospace;
}

ul.no-dot {
  list-style: none;
}

.commits li {
  min-height: 28px;
}

.expander {
  display: inline-block;
  margin: 3px 0px 3px 20px;
  width: 18px;
  height: 18px;
  opacity: 0;
}

.expander + label {
  display: inline-block;
  margin-left: -20px;
  margin-top: 0px;
}

.expander:checked ~ ul {
  margin-top: -24px;
}

.expander         ~ ul > li { display: none; }
.expander:checked ~ ul > li { display: block; }

.expander         + label > .chevron:before { content: "\f054"; }
.expander:checked + label > .chevron:before { content: "\f078"; }

pre .line .text:before {
  content: " ";
}

pre .line:before {
  content: "      ";
  padding: 3px 0;
  border-right: 1px dotted #586e75;
  font-size: 0.7rem;
}

pre .line[data-line-num]:before {
  content: " " attr(data-line-num) " " ;
}

.diff .text:before {
  content: "   ";
}

.diff .addition .text:before {
  color: #859900;
  content: " + ";
}

.diff .deletion .text:before {
  color: #dc322f;
  content: " - ";
}

.diff .hunk-header .text:before {
  content: " ";
}

.diff .line:before {
  content: "           ";
  padding: 3px 0;
  border-right: 1px dotted #586e75;
  font-size: 0.7rem;
}

.diff .line[data-old-line-num][data-new-line-num]:before {
  content: " " attr(data-old-line-num) " " attr(data-new-line-num) " " ;
}

.diff .line {
  margin: 0;
  padding: 1px 0;
}

.diff .hunk-header {
}

.diff .addition {
  background-color: rgba(133, 153, 0, 0.2);
}

.diff .deletion {
  background-color: rgba(220, 50, 47, 0.2);
}

.diff .hunk-header {
  color: #93a1a1;
  background-color: #eee8d5;
}

.diff .hunk-header * {
  color: #93a1a1;
}

.diff pre.block-details code {
  padding: 0;
  margin: 0;
}

pre.block-details {
  padding: 0;
  margin: 0;
  border: none;
}

