html {
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1rem auto;
  max-width: 50rem;
  line-height: 1.2;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.block {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.block-header {
  padding: 0.5rem 1rem 0.3rem 1rem;
}

.block-header h1, .block-header h2, .block-header h3, .block-header h4, .block-header h5 {
  margin: 0 0 0.2rem 0;
  padding: 0;
}

.repository-header h1, .repository-header h4 {
  margin: 0.4rem 1.6rem;
}

.rest {
  flex-grow: 1;
}

.block-details {
  padding: 0.8rem 1.6rem;
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
}

@media (min-width: 50rem) {
  .block-details {
    border-width: 1px;
  }
}

.email:before {
  content: "<";
}

.email:after {
  content: ">";
}

.ref, .id {
  font-family: monospace;
  padding: 0.1rem 0.3rem;
}

.filename {
  font-family: monospace;
}

pre {
  padding: 0.4rem 0.8rem;
}

pre, pre code {
  overflow-x: auto;
  overflow-y: hidden;
}

code {
  padding: 0 0.1rem;
}

.status {
  padding: 0.1rem 0.3rem;
}

.review-stub {
  margin: 0.4rem;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.avatar {
  height: 30px;
  width: 30px;
  margin: 0 0.8rem 0.2rem 0;
  flex-shrink: 0;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

blockquote {
  border-left-width: 1px;
  border-left-style: dotted;
  padding-left: 1rem;
}

.repository-header {
  margin-bottom: 0.8rem;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.tabs > * {
  display: flex;
  border-top-width: 1px;
  border-bottom-width: 2px;
  border-right-width: 1px;
  border-style: solid;
  flex-grow: 1;
  justify-content: center;
}

.tabs > :first-child {
  border-left-width: 2px;
  border-style: solid;
}

.tabs > :last-child {
  border-right-width: 2px;
  border-style: solid;
}

.content {
  padding: 0 0.8rem;
}

.path {
  font-family: monospace;
}

.commits {
  flex-grow: 1;
}

.subtree {
  display: flex;
}

.expander {
  display: none;
}

.expander + label {
  flex-shrink: 0;
  margin: 0 0.5em 10px 0;
  border-right-width: 1px;
  border-right-style: dotted;
  min-width: 1em;
  min-height: 2em;
  cursor: pointer;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.expander[disabled] + label {
  cursor: default;
}

.expander         ~ .commits > *             { display: none; }
.expander         ~ .commits > *:first-child { display: flex; }
.expander:checked ~ .commits > *             { display: flex; }

.expander         + label > .chevron:before { content: "\f142"; }
.expander:checked + label > .chevron:before { content: " "; }

pre .line {
  margin: 0;
  padding: 0.0625rem 0 0 0;
}

pre .line .text:before {
  content: " ";
}

pre .line:before {
  content: "      ";
  padding: 0.2rem 0;
  border-right-width: 1px;
  border-right-style: dotted;
  font-size: 0.6rem;
}

pre .line[data-line-num]:before {
  content: " " attr(data-line-num) " " ;
}

.diff .text:before {
  content: "   ";
}

.diff .addition .text:before {
  content: " + ";
}

.diff .deletion .text:before {
  content: " - ";
}

.diff .hunk-header .text:before {
  content: " ";
}

.diff .line:before {
  content: "           ";
}

.diff .line[data-old-line-num][data-new-line-num]:before {
  content: " " attr(data-old-line-num) " " attr(data-new-line-num) " " ;
}

.diff pre.block-details code {
  padding: 0;
  margin: 0;
}

pre.block-details {
  padding: 0;
  margin: 0;
  border: none;
}

.row    { display: flex; flex-direction: row; }
.column { display: flex; flex-direction: column; }
.center { align-items: center; }
